.text-center {
  text-align: center;
}
.text-holder {
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.buttons-container{
  text-align: center;
  margin: 20px auto;

  button:not(:last-child) {
  margin-right: 20px;
}
  button, .stepper-container .stepper-button, .stepper-container .stepper-body {
    border: solid 2px #c8c8c8;
    background: #272b30;
    color: #c8c8c8;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 2px;
  }
}

.stepper-container {
  margin-left: 35px;
  display: inline-block;
  .stepper-button, .stepper-body {
    margin-left: 5px;
    display:inline-block;
  }
}
